:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}

html {
    line-height: 1.15;
}
  
* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    margin-top: 0;
    /* border: red solid 3px; */
}

.no-margin {
    margin-bottom: 0;
}

#city-search-header {
    font-weight: 800;
    text-align: center;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    background-color: #351dbd;
    background-image: linear-gradient(45deg, #2438ad 0%, #2BD2FF 52%, #351dbd 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -40px;
    text-align: center;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 1rem .5rem 1rem .5rem;
}

#left-form {
    border: whitesmoke solid 3px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header menu main right footer';
    grid-gap: 5px;
    /* background-color: #2196F3; */
    padding: 10px;
    transform: translateY(20px);
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.0);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.validate {
    text-align: center;
}

.hidden {
    display: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

.landing-button {
    text-align: center;
}

.card {
    width: 20px;
}

#right-data {
    margin-top: 0;
    border: whitesmoke solid 3px;
}

.red {
    border: red solid 3px;
}

.city-name-date-and-icon {
    font-size: 24px;
    font-weight: 900;
    transform: translateY(-20px);
}

ul:not(#city-name-date-and-icon) li {
    margin-top: 1rem;
    font-size: 20px;
}

img {
    max-height: 55px;
    max-width: 55px;
    transform: translateY(20px);
}

#current-uv-index-value {
    padding: 0 15px;
}

footer {
    /* border: red solid 3px; */
    /* overflow: hidden; */
    /* transform: translate(-0px, 30vh); */
    margin: 1rem .5rem 1rem .5rem;
}

#contribution {
    /* border: red solid 3px; */
    text-align: left;
}

#copyright {
    /* border: red solid 3px; */
    text-align: right;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 10px
    }
}

@media only screen and (min-width: 992px) {
    html {
        line-height: 1;
    }
}